<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.element.fdex">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".FdMainActivity"
            android:label="Element Face Detection"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FdActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/CamTheme.Blue"/>

    </application>
</manifest>